a.navbar-brand{
	color: #e30a3c !important;
	font-family: 'Fredoka One', cursive !important; 
	font-weight: bold !important;
}

div.container-fluid{
    margin-left: 2% !important;
}


form.d-flex{
    margin-right: 60%;
    
}

div.btn-group{
    size: 2% !important;
}

input[type=search] {
    background-color: rgb(68, 67, 67) !important;
    color: #fff !important;
    border: none !important;
}


